*~
*.a
*.o
*.ukl

/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h.in
/configure
/install-sh
/missing

/Linux-Configs
/gapbs
/gcc
/gcc-build
/gcc-build-cpp
/gcc-install
/glibc
/glibc-build
/gpp
/lebench.ukl
/linux
/min-initrd
/new_lebench
