Module.symvers
modules.order
*.o.d
*.o.cmd
err
out
*.o
*.a.cmd
*.a

glibc
notes
oldthreadsglibc.c
differentFuncCalls
allos/
mykmemcached/
dump
syms
client
defaultld.ld
hexdvmlbgz
hwrel
hxdmpitrf
ldstatic.ld
relocsUKL
relocsinfo
relocsinterface
rout2
sectionsmylib
successfully
temp
userspace
userspace.c
vmlinux.bin
vmlinux.bin.gz
helloworld
ifupstrace
interface.c.hw
newserver
newserver.c.old
temp2
temp3
tlssymsmylib
!libc.a