*~
*.a
*.o
*.ukl
*UKL

Makefile
Makefile.in
ukl-initrd.cpio.xz

/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/dnsmasq/undefined_sys_hack.c
/hello/undefined_sys_hack.c
/hello/data.tar.gz
/install-sh
/memcached/stamp-libevent-dir
/memcached/stamp-memcached-dir
/memcached/undefined_sys_hack.c
/missing
/redis/redis
/redis/stamp-redis-dir
/redis/undefined_sys_hack.c
/stamp-gcc-prereq
/stamp-glibc-configure
/stamp-libgcc-build
/stamp-libgcc-configure
/stamp-h1
/vmlinuz
/initrd/init
/initrd/data.tar.gz

/lebench.ukl
/new_lebench
