[submodule "linux"]
	path = linux
	url = git.github.com:unikernelLinux/linux.git
	branch = ukl-dynamic
	update = checkout
[submodule "gapbs"]
	path = gapbs
	url = https://github.com/unikernelLinux/gapbs
[submodule "dnsmasq/dnsmasq"]
	path = dnsmasq/dnsmasq
	url = https://github.com/rwmjones/dnsmasq
[submodule "glibc"]
	path = glibc
	url = git@github.com:unikernelLinux/glibc.git
	branch = ukl-rtld
	update = checkout
