*.d
*.h
*.stamp

/argp/
/assert/
/bits/
/catgets/
/config.log
/config.make
/config.status
/cmath
/cstdlib
/csu/
/ctype/
/debug/
/debugglibc.sh
/dirent/
/dlfcn/
/elf/
/gmon/
/grp/
/gshadow/
/iconv/
/inet/
/intl/
/io/
/libio/
/locale/
/login/
/malloc/
/manual/
/math/
/misc/
/nptl/
/nss/
/posix/
/pwd/
/resolv/
/resource/
/rt/
/setjmp/
/shadow/
/signal/
/socket/
/stdio-common/
/stdlib/
/string/
/sysd-rules
/sysd-sorted
/sysvipc/
/termios/
/testrun.sh
/time/
/wcsmbs/
/wctype/
