*.tmp

/build-x86_64-pc-linux-gnu/
/config.log
/config.status
/fixincludes/
/gcc/
/gmp/
/intl/
/isl/
/libbacktrace/
/libcpp/
/libdecnumber/
/libiberty/
/lto-plugin/
/mpc/
/mpfr/
/stage_current
/stage_last
/x86_64-pc-linux-gnu/
/zlib/
